@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Work+Sans&display=swap');

.formAddBook{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
.inputListElement{
    display: flex;
    gap: 100px;
}
.inputListElement > input{
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.63);
    background: rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    height: 20px;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Staatliches', cursive;
    transition: 1s;
}
.inputListElement > input:hover{
    width: 200px;
    height: 30px;
    font-size: 18px;
    transition: 1s;
}
.btnSave{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.btnSave > button{
    width: 120px;
    height: 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    transition: 1s;
    font-family: 'Inconsolata', monospace;
    font-family: 'Staatliches', cursive;
}
.btnSave > button:hover{
    width: 180px;
    height: 30px;
    font-size: 18px;
    transition: 1s;
    background: rgba(0, 0, 0, 0.16);
    color: white;
}
.msg{
    margin: 10px 0 5px 5px;
    font-size: 12px;
    color: rgba(0, 34, 255, 0.68);
    padding-left: 5px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Staatliches', cursive;
}