@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Julius+Sans+One&display=swap');
.menuLinks{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.1);
    height: 80px;
    align-items: center;
    border-bottom: 1.5px solid white;
    width: 60%;
    margin: 0 auto;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.menuLinks > a {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Julius Sans One', sans-serif;
    color: rgba(16, 15, 15, 0.7);
    transition: 2s;
}
.menuLinks > a:hover{
    font-size: 38px;
    transition: 2s;
    color: white;
}
.menuLinks > a.active{
    color: white;
    font-size: 40px;
}